# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.txt
*.log
*.csv

wsblockage/*.txt
wsnoblockage/*.txt
earth_1Mhz/*.txt
earth_10Mhz/*.txt
earth_30Mhz/*.txt
out10M_recon_seg/*.txt
out10M_recon_seg_viss_conj/*.txt
out10M_recon_seg_viss_conj_viss_seg/*.txt

